body {
        font-family: 'Montserrat', sans-serif;
       }

.main {
        display: flex;
        flex-direction: row;
        background-color: #E5E5E5;
        padding-top: 40px;
        padding-right: 40px;
        padding-bottom: 40px;
        margin: 0 auto;
       }
.saitbar {
    background-color: #1E2939;
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-left: 40px;
    width: 370px;
            }
a {
    color: #595959;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
}
.foto {
    background-color: #1E2939;
    margin-top: 40px;
    width: 370px;
     
}
.contact {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 40px;
    
}
.tech-skills {
    margin-left: 40px;
    margin-bottom: 50px;
}
.soft-skills {
    margin-left: 40px;
   
}
.saitbar-lists {
    padding: 0;
    margin-left: 15px;
    
}
.saitbar-list {
color: #FB6D3A;
}
.list-color {
    color: white;
}
.main-conteiner {
    background-color: #FFF;
    padding-left: 90px;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
        }
.my-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    text-align: center;
    }
p {
    font-size: 14px;
    color: #595959;
}
.about-user {
margin-top: 100px;
margin-bottom: 40px;
margin-right: 349px;
width: 400px;
height: 234px;
}
.text-main {
    color: #595959;
    padding: 0;
  }
.project-title {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 50px;
   }
.project-item {
    color: black;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.work-experience {
        width: 525px;
      }
.education {
        width: 400px;
        }

.text-main-sdvig {
padding: 0;
margin-left: 15px;
color: #595959;
}
.kraska {
    color: red;
}
.link-color {
    color: #595959;
}